{% extends 'views/base.html.twig' %}

{% block page_title %}
    Ah tiens, une erreur est survenue..
{% endblock %}

{% block content %}
    <div class="row">
        <div class="text-center offset-md-2 col-md-8">
            <h5>
                Il semblerait qu'une erreur se soit produite durant votre navigation.. mais vous avez de la
                chance, <span class="fw-bold">tout est sous contrôle !</span>
            </h5>

            <img src="{{ vite_asset('assets/images/girl.png') }}" class="img-fluid my-3 mx-auto d-block"
                 alt="Western girl" />

            <p>
                Cela dit, même si je ne peux affirmer que la faute vous revienne, je le soupconne fortement.. parce que
                dans le cas contraire, cela signifierait que j'ai fait une erreur quelque part. Et je ne peux
                raisonnablement pas me mettre en accusation, puisqu'il est toujours plus simple de critiquer les autres.
            </p>

            <p>
                Mais bon, je vais vous accorder le bénéfice du doute, de toute façon j'avais prévu les aléas. Je vous
                prie donc maintenant de bien vouloir retourner sur les pages référencées dans le menu.
            </p>
        </div>
    </div>
{% endblock %}
