/.git
/.github
/.idea
/node_modules/
/vendor/

/www/mix-manifest.json
/www/js
/www/css
/www/images
/www/fonts
/www/repository-files

/var/*

.env
.env.example
.gitignore
docker-compose.yml
README.md
server.php
