@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons";
@import "./highlight-idea";

$brown-color: #412004;

@font-face {
    font-family: 'duality';
    src: url('../fonts/Duality-Regular.ttf');
}

body {
    background: url('../images/background.jpg') no-repeat fixed;
    background-size: cover;
}

main {
    padding: 5rem;
    background: url('../images/sheet.jpg');
    min-height: calc(95vh);
}

.table-brown th {
    color: #fff;
    background-color: $brown-color;
    border-color: $brown-color;
}

.table-brown th,
.table-brown td,
.table-brown > thead th,
.table-brown > tbody td {
    border: 1px solid $brown-color;
}

.table-brown td {
    background: #fff;
}

.font-duality {
    font-family: duality, serif;
}

.bg-brown {
    background-color: $brown-color;
}

.btn-brown {
    color: white !important;
    background-color: $brown-color !important;
}

.border-brown {
    border-color: $brown-color !important;
}

.list-none {
    list-style: none;
}

.rotate-hover-10:hover {
    transform: rotate(-10deg);
}

// For repository files.
.img-start {
    @extend .img-fluid;
    @extend .float-start;
    @extend .mb-3;
    @extend .me-3
}

.img-end {
    @extend .img-fluid;
    @extend .float-end;
    @extend .mb-3;
    @extend .ms-3;
}
