@import "~bootstrap/scss/bootstrap";
@import "~highlight.js/styles/idea";

@import "font-awesome";

$brown-color: #412004;

@font-face {
    font-family: 'duality';
    src: url('../fonts/Duality-Regular.ttf');
}

body {
    background: url('../img/background.jpg') no-repeat fixed;
    background-size: cover;
}

main {
    padding: 5rem;
    background: url('../img/sheet.jpg');
    min-height: calc(95vh);
}

.table-brown th {
    color: #fff;
    background-color: $brown-color;
    border-color: $brown-color;
}

.table-brown th,
.table-brown td,
.table-brown > thead th,
.table-brown > tbody td {
    border: 1px solid $brown-color;
}

.table-brown td {
    background: #fff;
}

.font-duality {
    font-family: duality, serif;
}

.bg-brown {
    background-color: $brown-color;
}

.btn-brown {
    color: white !important;
    background-color: $brown-color !important;
}

.border-brown {
    border-color: $brown-color !important;
}
