$primary-color: #412004;
$secondary-color: #481f07;

@font-face {
    font-family: 'duality';
    src: url('../fonts/Duality-Regular.ttf');
}

body {
    background: url('../img/background.jpg') no-repeat fixed;
    background-size: cover;
}

hr {
    border-color: $primary-color;
}

main {
    padding: 5rem;
    background: url('../img/sheet.jpg');

    min-height: calc(95vh);
}

.navbar {
    font-family: duality, serif;
    font-size: 18px;
    border: none;
}

.navbar .navbar-brand {
    font-size: 28px;
}

.navbar,
.dropdown-menu {
    background-color: $primary-color;
}

.table-custom th {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}

.table-custom th,
.table-custom td,
.table-custom > thead th,
.table-custom > tbody td {
    border: 1px solid $primary-color;
}

.table-custom td {
    background: #fff;
}

.text-size-18 {
    font-size: 18px;
}

.text-size-20 {
    font-size: 20px;
}

.font-duality {
    font-family: duality, serif;
}

.btn-brown {
    background: $secondary-color;
    color: #FFF !important;
}

.bordered {
    border: 1px $secondary-color solid;
}

.border-radius-5 {
    border-radius: 5px;
}

#title {
    text-align: center;
    border-bottom: 2px solid $primary-color;
    border-top: 2px solid $primary-color;
    margin-bottom: 50px;
}
