$primary: #412004;

$link-color: lighten($primary, 10%);
$link-decoration: none;

$nav-link-font-size: 18px;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "./highlight-idea";

@font-face {
    font-family: 'duality';
    src: url('../fonts/Duality-Regular.ttf');
}

body {
    background: url('../images/background.jpg') no-repeat fixed;
    background-size: cover;
}

main {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background: url('../images/sheet.jpg');
}

.font-duality {
    font-family: duality, serif;
}

.list-none {
    list-style: none;
}

.rotate-hover-10:hover {
    transform: rotate(-10deg);
}

// For repository files.
.img-start {
    @extend .img-fluid, .float-start, .mb-3, .me-3;
}

.img-end {
    @extend .img-fluid, .float-end, .mb-3, .ms-3;
}
