{% extends 'views/base.html.twig' %}

{% block page_title %}
    A mon propos
{% endblock %}

{% block content %}
    <div class="text-center">
        <img src="/images/me.jpg" class="img-fluid border border-brown mb-3 me-3 float-sm-end" alt="Me" />
    </div>

    <p>Salut, moi c'est Raphaël.</p>
    <p>
        Je suis développeur informatique, principalement web, et je bosse présentement pour
        <a href="https://www.self-and-innov.fr/">SELF & INNOV</a> en tant que Lead Developer (un titre honorifique, vous
        en conviendrez). De ce fait, je conduis un peu tout ce qui concerne le développement des applications de
        l'entreprise (publiques et internes), et je me charge également du <i>sysadmin</i> pour la mise en
        fonctionnement de ces dernières et de leurs évolutions.
    </p>
    <p>
        Bien qu'étant très orienté web, j'aime également ce qui touche à ce qui est bas-niveau comme l'informatique
        embarquée ou bien encore le traitement d'images et la production d'image en 3D.
    </p>
    <p>
        Mon cursus fut somme toute classique. Après un Bac S à Perpignan (Perpi pour les intimes), j'ai fait une licence
        Maths-Info dans cette même ville puis 2 masters à Bordeaux (Génie Logiciel et Informatique pour l'Image et le
        Son). L'enseignement universitaire m'a plu car il m'a permis de découvrir un panel assez large de domaines dans
        l'informatique, allant de sujets très "bas-niveau" à d'autres particulièrement "haut-niveau".
    </p>

    <p>
        Je suis issu de la campagne, mon père est vigneron dans le coin de Perpignan, en cave particulière. Je suis donc
        naturellement sensible à ce qui touche à l'environnement et le travail des champs, bien que n'ayant pas pris la
        suite de mon paternel.
    </p>
    <p>
        Côté loisir, je pratique la guitare et la basse de façon très régulière. A la guitare, surtout le
        chant, et à la basse, j'accompagne principalement le groupe de louange de mon église tous les dimanches. De
        temps à autre, je fais du parkour et je joue à des jeux vidéo. Il m'arrive aussi de dessiner quelque fois (voici
        d'ailleurs <a href="/repository#/drawings">ici</a> quelques uns de mes dessins).
    </p>
{% endblock %}
