{% extends 'views/base.html.twig' %}

{% block page_title %}
    A mon propos
{% endblock %}

{% block content %}
    <div class="text-center">
        <img src="/images/about/me.jpg" class="img-fluid bordered mb-3 mr-3 float-sm-left" />
    </div>

    <p>
        Salut, moi c'est Raphaël. Je suis développeur informatique, principalement web, et je bosse
        présentement pour <a href="https://self-and-consult.fr" target="_blank">SELF & CONSULT</a> en tant
        que Lead Developer (un titre honorifique, vous en conviendrez). De ce fait, je conduis un peu tout
        ce qui concerne le développement des applications de l'entreprise (publiques et internes), et je me
        charge également du <i>sysadmin</i> pour la mise en fonctionnement des évolutions de ces dernières.
    </p>
    <p>
        Bien qu'étant très orienté web, j'aime également ce qui touche à ce qui est bas-niveau comme
        l'informatique embarquée ou bien encore le traitement d'images et la production d'image en 3D.
    </p>
    <p>
        J'ai suivi un cursus somme toute classique, licence Maths-Info à Perpignan (Perpi pour les intimes)
        puis masters à Bordeaux (Génie Logiciel et Informatique pour l'Image et le Son). L'enseignement
        universitaire m'a plu car il m'a permis de découvrir un panel assez large de domaines dans
        l'informatique, allant de sujets très "bas-niveau" à d'autres particulièrement "haut-niveau".
    </p>

    <div class="text-center">
        <img src="/images/about/goat.jpg" class="img-fluid bordered mb-3 ml-3 float-sm-right" />
    </div>

    <p>
        Je suis issu de la campagne, mon père est vigneron dans le coin de Perpignan, en cave particulière.
        Je suis donc naturellement sensible à ce qui touche à l'environnement et le travail des champs, bien
        que n'ayant pas pris la suite de mon paternel.
    </p>
    <p>
        Côté loisir, j'aime à pratiquer le parkour ainsi que m'adonner aux jeux vidéo de temps à autre. Je
        joue également de la guitare et de la basse, de façon très régulière. A la guitare, je pratique
        surtout le chant, et à la basse j'accompagne principalement le groupe de louange de mon église tous
        les Dimanches. Il m'arrive aussi de dessiner quelque fois (voici d'ailleurs
        <a href="/repository#/drawings">ici</a> quelques uns de mes dessins).
    </p>
{% endblock %}
