{% extends 'views/base.html.twig' %}

{% block page_title %}
    Réalisations
{% endblock %}

{% block content %}
    <h3 class="title-custom text-center mb-4">
        <a href="https://domainejorel.fr" target="_blank">Domaine Jorel</a>
    </h3>

    <div class="row">
        <div class="col-lg col-md-12">
            <img src="/images/achievements/domaine-jorel.jpg"
                 class="img-fluid border border-brown mb-2 mx-auto d-block" />

            <ul>
                <li>Laravel 7</li>
                <li>PHP 7 / MySQL</li>
                <li>Bootstrap 4</li>
            </ul>
        </div>
        <div class="col-lg col-md-12">
            <p>
                Le site web de l'entreprise viticole de mon père, et également le premier site que j'ai réalisé, au
                départ, de toutes pièces pour me former à la programmation web.
            </p>
            <p>
                Débuté <i>from scratch</i> (comme on dit dans le milieu) et amélioré successivement au cours des années
                depuis 2012, ce site a subi plusieurs refontes majeures, notamment deux graphiques, la dernière lui
                permettant d'être <i>responsive design</i> et plus présentable de manière générale.
            </p>
            <p>
                Ce site n'est pas à but commercial, il n'est là que pour présenter l'entreprise et les vins produits,
                ainsi que certaines informations relatives à l'actualité.
            </p>
        </div>
    </div>

    <hr class="border-brown" />

    <h3 class="title-custom text-center mb-4">
        <a href="https://www.self-innov.fr" target="_blank">SELF & INNOV</a>
    </h3>

    <div class="row">
        <div class="col-lg col-md-12">
            <img src="/images/achievements/self-and-innov.jpg"
                 class="img-fluid border border-brown mb-2 mx-auto d-block" />

            <ul>
                <li>Laravel 7</li>
                <li>PHP 7 / MySQL</li>
                <li>Bootstrap 4</li>
            </ul>
        </div>
        <div class="col-lg col-md-12">
            <p>
                Il s'agit de la première application professionnelle que j'ai développée, et que je continue à faire
                évoluer dans le cadre de mon travail au sein de l'entreprise
                <a href="https://www.self-and-innov.fr" target="_blank">SELF & INNOV</a>.
            </p>
            <p>
                Je ne me suis occupé que de la partie fonctionnelle de l'application, ainsi le site de présentation et
                le style sont de mon chef, mais de celui de mon directeur (CTO)
                <a href="https://www.linkedin.com/in/simoncreuchet" target="_blank">Simon Creuchet</a>.
            </p>
            <p>
                L'application permet principalement de faire des diagnostics d'éligibilité aux Crédits d'Impôt Recherche
                et Innovation, ainsi que de calculer les montants qu'une entreprise peut toucher en fonction de son
                personnel, les rémunérations et de nombreux facteurs importants à prendre en compte. C'est l'associée de
                l'entreprise
                <a href="https://www.linkedin.com/in/amandineperroux/" target="_blank">Amandine Perroux</a>
                qui s'est chargée de toute la partie métier.
            </p>
            <p>
                Cette application s'inscrit comme la première plateforme d'une longue lignée, l'ambition du président
                <a href="https://www.linkedin.com/in/matthieubacquin/" target="_blank">Matthieu Bacquin</a>
                étant de toucher tous les secteurs du conseil avec comme idée de permettre aux entreprises de réduire
                leurs dépenses en <i>consulting</i> grâce à des outils en ligne et de l'expertise téléphonique.
            </p>
        </div>
    </div>

    <hr class="border-brown" />

    <h3 class="title-custom text-center mb-4">
        <a href="https://eel33.fr" target="_blank">EEL33</a>
    </h3>

    <div class="row">
        <div class="col-lg col-md-12">
            <img src="/images/achievements/eel33.jpg" class="img-fluid border border-brown mb-2 mx-auto d-block" />

            <ul>
                <li>WordPress</li>
                <li>Thème : Astra</li>
                <li>Extensions : Elementor, Contact Form, Sermon Manager, ..</li>
            </ul>
        </div>
        <div class="col-lg col-md-12">
            <p>
                Après de nombreuses années de bons et loyaux services, le site web de mon église a demandé à être
                modernisé. Le fait qu'une église ait un site web peut en étonner plus d'un, car il est vrai que pour
                beaucoup l'Eglise s'adapte fort peu au monde qui l'entoure.
            </p>
            <p>
                Pourtant il n'en est rien, et nombre d'églises (comme la mienne) ont un site web, leur permettant de
                donner des informations pratiques sur leur emplacement, les heures de culte, les activités, la vie
                d'église, mais aussi de proposer à la (ré)écoute les prédications apportées le dimanche.
            </p>
            <p>
                Eh oui, l'Eglise est vivante ! Qui l'eut cru après 2000 ans 😉 ?
            </p>
        </div>
    </div>
{% endblock %}
