{% extends 'views/base.html.twig' %}

{% block page_title %}
    Réalisations
{% endblock %}

{% block content %}
    <h3 class="text-center">
        <a href="https://domainejorel.fr">Domaine Jorel</a>
    </h3>

    <div class="row mt-4">
        <div class="col-lg">
            <img src="{{ vite_asset('resources/images/achievements/domaine-jorel.jpg') }}"
                 class="img-fluid border border-primary mx-auto d-block" />

            <ul class="mt-4">
                <li>WordPress</li>
                <li>Thème : Twenty Twenty-One</li>
            </ul>
        </div>
        <div class="col">
            <p>
                Le site web du domaine viticole paternel et également le premier site que j'ai réalisé.
                Celui-ci présente le domaine et ses vins, ainsi que certaines informations relatives à son actualité.
            </p>
            <p>
                En 2012, j'ai développé la première version en HTML/CSS/JS. Puis j'ai rajouté PHP pour gérer
                plus facilement une version multilingue du site et avoir un fil d'actualité. Après avoir découvert le
                <i>framework</i> Laravel en 2016, j'ai décidé d'abandonner ma version <i>from scratch</i> (comme on dit
                dans le milieu) pour me simplifier la vie. Finalement, après plusieurs années à développer moi-même le
                site, je me suis tourné vers WordPress.
            </p>
        </div>
    </div>

    <hr class="border-primary" />

    <h3 class="text-center">
        <a href="https://www.self-innov.fr">SELF & INNOV</a>
    </h3>

    <div class="row mt-4">
        <div class="col-lg">
            <img src="{{ vite_asset('resources/images/achievements/self-and-innov.jpg') }}"
                 class="img-fluid border border-primary mx-auto d-block" />

            <ul class="mt-4">
                <li>Laravel</li>
                <li>PHP / MySQL</li>
                <li>Bootstrap</li>
            </ul>
        </div>
        <div class="col">
            <p>
                Il s'agit de la première application professionnelle que j'ai développée, et que je continue à faire
                évoluer dans le cadre de mon travail au sein de l'entreprise
                <a href="https://www.self-and-innov.fr">SELF & INNOV</a>.
            </p>
            <p>
                L'application est présentée comme une plateforme SaaS pour les aides fiscales à l'innovation
                (CIR/CII/JEI), permettant d'évaluer l'éligibilité d'une entreprise aux dispositifs de crédits d'impôts
                recherche (CIR), innovation (CII) ainsi qu'au statut de Jeune Entreprise Innovante (JEI), et de
                calculer les montants à déclarer auprès de l'administration.
            </p>
            <p>
                Elle est la première plateforme en ligne proposant aux entreprises de faire ces diagnostics et calculs
                par eux-même. Cependant, comme il est question de dispositifs pointus, les experts de l'entreprise
                accompagnent ses clients dans leurs démarches la plupart du temps.
            </p>
        </div>
    </div>

    <hr class="border-primary" />

    <h3 class="text-center">
        <a href="https://eel33.fr">EEL33</a>
    </h3>

    <div class="row mt-4">
        <div class="col-lg">
            <img src="{{ vite_asset('resources/images/achievements/eel33.jpg') }}"
                 class="img-fluid border border-primary mx-auto d-block" />

            <ul class="mt-4">
                <li>WordPress</li>
                <li>Thème : Astra</li>
                <li>Extensions : Elementor, Contact Form, Sermon Manager, ..</li>
            </ul>
        </div>
        <div class="col">
            <p>
                Après de nombreuses années de bons et loyaux services, l'ancien site web de mon église a demandé à être
                modernisé. Le fait qu'une Église ait un site web peut en étonner plus d'un, car il est vrai que pour
                beaucoup, l'Église - en général - ne s'adapte pas des masses au monde qui l'entoure.
            </p>
            <p>
                Eh bien raté ! Il y a un paquet d'Églises (comme la mienne) qui ont un site web, leur permettant de
                donner des informations pratiques sur leur emplacement, les horaires de culte, les activités, la vie
                d'église, mais aussi de proposer à la (ré)écoute les prédications apportées le dimanche.
            </p>
        </div>
    </div>
{% endblock %}
