{% extends 'views/base.html.twig' %}

{% block page_title %}
    Un petit message ?
{% endblock %}

{% block content %}
    <div>
        {% if message is defined %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endif %}

        <p>
            Si vous souhaitez me contacter pour me demander un service ou des précisions sur une de mes réalisations,
            veuillez utiliser ce formulaire, ou votre client de messagerie préféré en cliquant
            <a href="mailto:raphael.jorel@laposte.net">ici</a>.
        </p>
        <p>
            Je suis ouvert également à toutes remarques et tous commentaires (constructifs) concernant le présent site,
            donc n'hésitez pas à me communiquer vos avis. D'autant plus si vous trouvez que ce site est particulièrement
            génial, cela va sans dire <i class="fa fa-grin-beam"></i>.
        </p>
    </div>

    <div class="font-duality p-4 bg-light bordered border-radius-5 text-size-18">
        <form method="POST" action="/contact">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" name="name" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Adresse e-mail</label>
                        <input type="email" name="email" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Sujet</label>
                        <input type="text" name="subject" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Message</label>
                        <textarea name="message" rows="5" class="form-control" required></textarea>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <small>Note: tous les champs sont requis</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-block btn-brown">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
