{% extends 'views/base.html.twig' %}

{% block page_title %}
    Bienvenue à vous
{% endblock %}

{% block content %}
    <section class="text-center offset-md-2 col-md-8">
        <img src="/images/amstrad.png" alt="Amstrad CPC 6128"
             class="img-responsive gap-bottom" />

        <p class="mt-4 text-size-20">
            Bien le bonjour, quel bon vent vous amène ?
        </p>
        <p class="mt-4 text-size-20">
            Vous voici à présent sur mon site personnel, lequel a pour but d'exposer mon parcours, quelques unes de mes
            réalisations ainsi que des programmes que j'ai fait principalement durant mes études.
        </p>
    </section>
{% endblock %}
