{% extends 'views/base.html.twig' %}

{% block page_title %}
    Bienvenue à vous
{% endblock %}

{% block content %}
    <div class="row">
        <div class="text-center offset-md-2 col-md-8" style="font-size: 20px;">
            <img src="{{ vite_asset('resources/images/amstrad.png') }}" alt="Amstrad CPC 6128" class="img-fluid" />

            <p class="mt-4">
                Bien le bonjour, quel bon vent vous amène ?
            </p>

            <p class="mt-4">
                Vous voici à présent sur mon site personnel, lequel a pour but d'exposer mon parcours, quelques unes de
                mes réalisations ainsi que des programmes que j'ai fait principalement durant mes études.
            </p>
        </div>
    </div>
{% endblock %}
