{% extends 'views/base.html.twig' %}

{% block page_title %}
    Compétences
{% endblock %}

{% block content %}
    <p>
        Juger de ses propres compétences est toujours un exercice délicat, aussi vais-je seulement donner des
        indications de mes expériences et utilisations des différents langages et technologies que je connais.
    </p>

    <table class="table table-custom">
        <thead>
        <tr>
            <th colspan="2">Langages</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="https://secure.php.net/" target="_blank">PHP</a>
            </td>
            <td>
                Le langage que je pratique quotidiennement depuis que je suis devenu actif (en mi-2016). Je l'aibeaucoup
                utilisé avec Laravel mais j'ai aussi un peu exploré Symfony et je m'en sers pour écrire des scripts de
                temps à autre.
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.python.org/" target="_blank">Python</a>
            </td>
            <td>
                Mon tout premier langage, si je ne prends pas en compte le BASIC de
                l'<a href="https://en.wikipedia.org/wiki/Amstrad_CPC" target="_blank">Amstrad CPC</a> et celui des
                calculettes CASIO. Je me tourne naturellement vers lui dès lors que je veux faire des scripts ou des
                petits programmes, ainsi que pour tout ce qui concerne le prototypage.
            </td>
        </tr>
        <tr>
            <td>JavaScript</td>
            <td>
                Obligatoire dès que l'on veut rendre son site un peu (ou ridiculement trop) dynamique, je l'utilise pour
                tous mes développements web, qu'ils soient professionnels ou personnels.. mais cela est rarement par
                plaisir, car je ne l'affectionne pas vraiment, ni lui, ni son écosystème.
            </td>
        </tr>
        <tr>
            <td>C/C++</td>
            <td>
                Le duo indétronable, souvent copié mais jamais égalé.. bien que n'ayant pas énormément travaillé avec en
                dehors de mon cursus, j'affectionne ces deux langages pour la liberté qu'ils accordent.
            </td>
        </tr>
        <tr>
            <td>Java</td>
            <td>
                Même si je ne suis pas un grand fan de Java, je pense être capable de m'en servir honorablement. Ce
                langage a été beaucoup abordé durant mes études, et il m'est même apparu agréable quand j'ai découvert
                <a href="https://www.jetbrains.com/idea/" target="_blank">IntelliJ</a>.
            </td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th colspan="2"><i>Frameworks</i></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="https://laravel.com/" target="_blank">Laravel</a>
            </td>
            <td>
                Ce merveilleux <i>framework</i> est à la base de tous mes développements professionnels. Je m'en sers
                aussi un peu personnellement et je trouve beaucoup de plaisir à travailler avec.
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://vuejs.org/" target="_blank">VueJS</a>
            </td>
            <td>
                Intégré par défaut dans Laravel, il faut bien avouer que ce <i>framework</i> est agréable à utiliser
                (même si c'est du JavaScript 😁). Il me permet surtout de rajouter des composants dynamiques au sein
                d'applications PHP. La page <a href="/repository">dépôt</a> en utilise un pour permettre le parcours des
                différents dossiers et fichiers que je partage sur le site.
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://wordpress.org/" target="_blank">WordPress</a>
            </td>
            <td>
                Que serait le web sans WordPress ? Environ 30% des sites tournent sous ce CMS
                (<i>Content Management System</i>), alors il est difficile de passer à côté. Mon expérience de WordPress
                est assez modeste, j'ai déjà développé des <i>plugins</i> mais jamais de thèmes personnalisés. Je m'en
                sers généralement pour monter des sites web à visée principalement informative.
            </td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th colspan="2">Base de données</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="https://www.mysql.com/" target="_blank">MySQL</a>
            </td>
            <td>
                MySQL est un système de gestion de bases de données très répandu, et souvent associé à PHP. Il est le
                système dont je me sers pour toutes mes applications qui nécessitent une base de données.
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.sqlite.org/" target="_blank">SQLite</a>
            </td>
            <td>
                SQLite est particulièrement pratique pour tester des applications. Il m'est également utile de temps à
                autre pour faire des scripts qui nécessitent de manipuler des données.
            </td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th colspan="2">Bibliothèques</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="https://jquery.com/" target="_blank">jQuery</a>
            </td>
            <td>
                Cette bibliothèque est infiniment pratique pour simplifier pas mal de travail en JavaScript. Je m'en
                sers toujours sur les différentes applications web que je développe.
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
            </td>
            <td>
                En ce qui concerne le <i>responsive design</i>, je ne me sers QUE de cette bibliothèque.
            </td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th colspan="2">IDEs / éditeurs</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="https://www.jetbrains.com/" target="_blank">JetBrains</a>
            </td>
            <td>
                C'est bien simple, je suis ultra fan des IDEs de cette entreprise. Je me sers principalement de
                PhpStorm, PyCharm et CLion, mais je me doute que tous leurs autres IDEs sont excellents !
            </td>
        </tr>
        <tr>
            <td>VIM</td>
            <td>
                L'irréductible VIM résiste toujours à sa mise au placard définitive.. mais en même temps, cet éditeur
                est très puissant et il apparaît comme un excellent choix pour les sessions d'administration
                système nécessitant d'éditer des fichiers (je crois que quelqu'un a dit "et nano alors ?" mais je vais
                feindre de n'avoir rien entendu 😁).
            </td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th colspan="2">Systèmes d'exploitation</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Linux</td>
            <td>
                Mon système d'exploitation de prédilection. Je passe le plus clair de mon temps dessus, pour le travail
                comme pour le loisir.
            </td>
        </tr>
        <tr>
            <td>Windows</td>
            <td>
                Force est de constater que Windows garde une longueur d'avance sur Linux quant aux jeux vidéo.. j'ai
                donc besoin de lui pour pouvoir profiter pleinement de ma ludothèque Steam.
            </td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th colspan="2">Outils</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="https://git-scm.com/" target="_blank">Git</a>
            </td>
            <td>
                Le système de versionnage le plus populaire aujourd'hui et celui dont je me sers exclusivement.
                Concernant les services de dépôts distants, j'utilise
                <a href="https://github.com/" target="_blank">GitHub</a>
                et
                <a href="https://gitlab.com/" target="_blank">GitLab</a>
                selon mes besoins.
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.docker.com/" target="_blank">Docker</a>
            </td>
            <td>
                Bien que je ne sois pas encore à <i>containeriser</i> (joli anglissisme) toutes mes applications, cette
                technologie me sert de plus en plus, et de ce fait je commence à la taquiner un peu.
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
